<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer id="fragment tag" th:fragment="footer1(title,subtitle)">
    <div class="container">
        <h1 th:text="${title}"></h1>
        <h1 th:text="${subtitle}"></h1>
        <h1>lolocagjhfbdkxlfnvzcj,dfcv,nv kzd,cnj</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non maiores sint laboriosam quam voluptatum eaque qui, quaerat laborum, ipsam atque possimus a placeat rerum! Veritatis delectus dolores, ab tempore voluptate quasi necessitatibus optio? Quaerat possimus cupiditate ipsam, fugiat odit maiores incidunt. Saepe qui inventore beatae minus, laudantium ratione natus obcaecati?</p>
    </div>
    </footer>
</body>
</html>