<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Here is css and js</title>
    <link rel="stylesheet" href="" th:href="@{/Css/MyStyle.css}"/>
</head>
<body>
    <div class="container">
        <img src="" class="EmiliaTan" th:src="@{/image/EmiliaTan.png}" alt="">
    <h1>our js file is here</h1>
    <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta incidunt vel facilis non nisi! Quaerat aut quis cum consequatur placeat. Et architecto exercitationem odio dolores sequi laborum. Odit, repudiandae quam!</h1>
    </div>
    <script src="" th:src="@{/js/MyJs.js}"></script>
</body>
</html>